// This is the Sass file we edit

// Variables for Bootstrap that we want to change

$body-bg: #ccc;

.btn{
  margin-top: 1px;
  display: grid;
  border-radius: 5px;
  width: 25%;
}

.container {
  display: grid;
  grid-column-gap: 20px;
}

.inputForm {
  width: 25%;
}

.btn-group{
  width: 180px;

}



// Import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
